
<h2>クリップ一覧(<%= @clips.length %>匹)</h2>
<div>
    <% @clips.each do |clip| %>
      <% @animal = clip.user_id %>
      <% user = User.find(@user) %>
      <div class ="name2">
        <%= link_to user.username ,user_path(user) %><br/>
      </div>
    <% end %>
</div>