<div class="row">
	<div class="col-xs-12">
	<header>
	  <h2 class="headline">保護会員一覧</h2>
	</header>
	<!--users一覧 -->
	<table class="table">
		<thead>
			<tr>
				<th>トップ画面</th>
				<th>お名前</th>
				<th colspan="3"></th>
			</tr>
		</thead>

		<tbody>
			<% @users.each do |user| %>
			<tr>
				<td><%= attachment_image_tag(user, :profile_image, fallback: "no_image.jpg") %></td>
				<td><%= user.name%></td>
				<td><%= link_to "会員情報詳細", user, class: "user_#{user.id}" %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
	<!--users一覧 -->
	</div>
</div>