<div class="row">
	<div class="col-xs-12">
		<h2>保護動物一覧</h2>
		<!--animals一覧 -->
		<table class="table table-hover table-inverse">
			<thead>
				<tr>
					<th></th>
					<th>名前</th>
					<th>詳細</th>
					<th colspan="3"></th>
				</tr>
			</thead>

			<tbody>
				<% @animals.each do |animal| %>
				<tr>
					<td>
						<%#= link_to user_path(animal.user.id) do %>
						<%= attachment_image_tag animal, :image, fallback: "no-image-mini.jpg" %>
						<%# end %>
					</td>
					<td><%= link_to animal.name, animal, class: "animal_#{animal.id}" %></td>
					<td><%= animal.body %></td>
					<td><%= link_to "詳細画面", animal_path(animal.id) %></td>
				</tr>
				<% end %>
			</tbody>
		</table>

		<!--animals一覧 -->
	</div>
</div>